@define-color foreground #E0E2EA;
@define-color background #0B0E14;
@define-color accent #FFCC66;
@define-color surface #161B29;
@define-color border #242B3D;

* {
  color: @foreground;
  font-weight: bold;
}

window#waybar > box {
  background-color: @background;
  border-bottom: 1px solid @border;
}

#workspaces button {
    padding: 0 4px;
    color: #8F95A5;
}

#workspaces button.active {
    border-bottom: 2px solid @accent;
    color: @foreground;
}

#workspaces button:hover {
    background: rgba(255, 204, 102, 0.1);
    color: @accent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @foreground;
}
